# Uber Eats USA Restaurants and Menus
[Kaggle.com](https://www.kaggle.com/datasets/ahmedshahriarsakib/uber-eats-usa-restaurants-menus)

Quant Squad team
Project Python - Data Science bootcamp

## Initial setup
### Import necessary libraries

In [1]:
import numpy as np
import pandas as pd
import time
import os

### Find location on local drive where to put data to have option to run your script on kaggle.com without any changes

In [2]:
# where to put data from kaggle.com?
cwd = os.getcwd()
root_dir = os.path.abspath('/')
print('Put your kaggle/input/uber-eats-usa-restaurants-menus folders in folder\n', root_dir)

Put your kaggle/input/uber-eats-usa-restaurants-menus folders in folder
 D:\

### File paths on kaggle.com

In [3]:
# paths from kaggle.com
# INPUT
# /kaggle/input/uber-eats-usa-restaurants-menus
# /kaggle/input/uber-eats-usa-restaurants-menus/restaurant-menus.csv
# /kaggle/input/uber-eats-usa-restaurants-menus/restaurants.csv
# OUTPUT
# /kaggle/working/

### Load csv files to dataframes

In [4]:
input_directory = "/kaggle/input/uber-eats-usa-restaurants-menus"
input_file_restaurant_menus = '/kaggle/input/uber-eats-usa-restaurants-menus/restaurant-menus.csv'
input_file_restaurants = r"/kaggle/input/uber-eats-usa-restaurants-menus/restaurants.csv"

# measure time
start_time = time.time()

# Read the CSV file into a Pandas dataframe
df_restaurant_menus = pd.read_csv(input_file_restaurant_menus)
df_restaurants = pd.read_csv(input_file_restaurants)

end_time = time.time()
elapsed_time = end_time - start_time
print("Elapsed time: ", elapsed_time, "seconds")

Elapsed time:  7.023243188858032 seconds

### Show basic data about data sources

In [5]:
print("restaurants shape:")
print(df_restaurants.shape)
print("restaurant-menus shape:")
print(df_restaurant_menus.shape)

print("restaurants datatypes")
print(df_restaurants.dtypes)

print("restaurant-menus datatypes")
print(df_restaurant_menus.dtypes)

restaurants shape:
(40227, 11)
restaurant-menus shape:
(3375211, 5)
restaurants datatypes
id                int64
position          int64
name             object
score           float64
ratings         float64
category         object
price_range      object
full_address     object
zip_code         object
lat             float64
lng             float64
dtype: object
restaurant-menus datatypes
restaurant_id     int64
category         object
name             object
description      object
price            object
dtype: object

## Data Cleaning
### Restaurants

#### restaurants.id

In [6]:
print("Unique values: ",df_restaurants['id'].unique())
print("Lowest value: ",df_restaurants['id'].min())
print("Highest value: ",df_restaurants['id'].max())
print("Cells without value: ",df_restaurants['id'].isna().sum())
print("Rows: ",df_restaurants['id'].shape[0])
if (df_restaurants['id'].max()==df_restaurants['id'].shape[0]):
    print("It is ok, id=# of rows")
else:
    print("There is gap, id<># of rows")

Unique values:  [    1     2     3 ... 40225 40226 40227]
Lowest value:  1
Highest value:  40227
Cells without value:  0
Rows:  40227
It is ok, id=# of rows

#### restaurants.position

In [7]:
print("Unique values: ",df_restaurants['position'].unique())
print("Lowest value: ",df_restaurants['position'].min())
print("Highest value: ",df_restaurants['position'].max())
print("Cells without value: ",df_restaurants['position'].isna().sum())
print("Rows: ",df_restaurants['position'].shape[0])

Unique values:  [ 19   9   6  17 162  75  27  26 136  51 159 194 116 139  88  60  56  30
  40  43  42  37  32 135 123 113 107 104 103 101  96  81  80  77  66  61
  15  13   7  25  21  20  74  73  70  68  65  64  63  55  53  50  49  44
  41  39  38  35  34  28  10   8   5   4   3 161 160 158 157 156 155 154
 153 152 151 150 149 148 147 144 142 141 138 137 134 132 130 129 128 127
 125 124 121 120 119 118 117 115 114 112 111 110 109 106 105 102 100  99
  98  97  95  93  90  89  86  85  84  83  82  79  78  76  72  71  69  67
  62  59  58  57  54  48  47  46  33  31  24  23  22  18  16  14  11   2
   1  12 146  91 163  94 143 126  36 131 122 108  92  87  52  29  45 300
 196 299 281 282 272 255 297 268 251 243 267 260 259 246 242 185 278 265
 263 253 248 247 234 223 276 230 206 197 187 164 295 294 293 292 286 285
 284 270 240 238 232 227 221 210 209 177 195 188 184 182 181 179 180 178
 173 171 169 170 140 298 296 291 289 288 287 283 280 277 275 274 273 271
 266 264 262 258 257 256 254 250 249 244 241 239 237 236 235 231 229 228
 226 224 222 220 219 218 217 216 215 214 203 202 201 199 192 191 189 186
 176 174 172 168 167 166 165 145 205 204 290 211 233 225 190 245 208 207
 198 193 183 133 269 213 200 175 212 279 252 261]
Lowest value:  1
Highest value:  300
Cells without value:  0
Rows:  40227

#### restaurants.name

In [8]:
print("Unique values: ",df_restaurants['name'].unique())
print("Lowest value: ",df_restaurants['name'].min())
print("Highest value: ",df_restaurants['name'].max())
print("Cells without value: ",df_restaurants['name'].isna().sum())
print("Rows: ",df_restaurants['name'].shape[0])

# remove street from name (if exists) and put into separete column 'onlyname')
df_restaurants["onlyname"] = df_restaurants["name"].str.replace(r" \(.*\)","", regex=True).str.strip()

# show sample after cleaning
print(df_restaurants[['name', 'onlyname']].head(10))

Unique values:  ['PJ Fresh (224 Daniel Payne Drive)' "J' ti`'z Smoothie-N-Coffee Bar"
 'Philly Fresh Cheesesteaks (541-B Graymont Ave)' ... 'EurAsia Ramen 3'
 "Austin's Habibi (5th St)" 'Beijing Wok']
Lowest value:   0-60 Energy Café (AB Mall)
Highest value:  重庆麻辣城 SPICY CHONGQING
Cells without value:  0
Rows:  40227
                                             name  \
0               PJ Fresh (224 Daniel Payne Drive)
1                  J' ti`'z Smoothie-N-Coffee Bar
2  Philly Fresh Cheesesteaks (541-B Graymont Ave)
3         Papa Murphy's (1580 Montgomery Highway)
4                Nelson Brothers Cafe (17th St N)
5                                Ocean Restaurant
6                                    Jinsei Sushi
7                                    Little India
8                  Captain D's (1284 Decatur Hwy)
9                            Cajun Bistro Express

                         onlyname
0                        PJ Fresh
1  J' ti`'z Smoothie-N-Coffee Bar
2       Philly Fresh Cheesesteaks
3                   Papa Murphy's
4            Nelson Brothers Cafe
5                Ocean Restaurant
6                    Jinsei Sushi
7                    Little India
8                     Captain D's
9            Cajun Bistro Express

#### restaurants.score

In [9]:
print("Unique values: ",df_restaurants['score'].unique())
print("Lowest value: ",df_restaurants['score'].min())
print("Highest value: ",df_restaurants['score'].max())
print("Cells without value: ",df_restaurants['score'].isna().sum())
print("Rows: ",df_restaurants['score'].shape[0])

Unique values:  [nan 4.7 4.6 5.  4.9 3.7 4.8 4.3 4.4 4.1 4.5 4.2 4.  3.8 3.9 3.5 3.2 3.6
 3.  3.4 3.3 3.1 2.2 2.7 2.9 2.4 2.8 2.6 2.5 2.1 1.9 2.  2.3 1.3]
Lowest value:  1.3
Highest value:  5.0
Cells without value:  17973
Rows:  40227

#### restaurants.ratings

In [10]:
print("Unique values: ",df_restaurants['ratings'].unique())
print("Lowest value: ",df_restaurants['ratings'].min())
print("Highest value: ",df_restaurants['ratings'].max())
print("Cells without value: ",df_restaurants['ratings'].isna().sum())
print("Rows: ",df_restaurants['ratings'].shape[0])

Unique values:  [ nan  22.  63.  44.  20.  48.  19. 100.  21.  24.  39.  62.  23.  91.
  17.  28.  29.  56.  35.  61.  79.  59.  34.  37.  50.  52.  31.  30.
  32.  18.  78.  12.  68.  47.  49.  54.  15.  51.  16.  45.  26.  96.
  76.  11.  13.  80.  55.  97.  73.  43.  77.  46.  25.  86.  33.  14.
  64.  74.  57.  58.  10.  93.  36.  40.  82.  84.  42.  60.  38.  69.
  67.  27.  41.  87.  53.  66.  94.  88.  89.  72.  99.  81.  92.  95.
  85.  75.  65.  83.  70. 200. 128. 115.  71. 107. 106. 120. 163. 132.
  90. 112. 105. 110. 123. 142. 109. 135. 192. 108. 126. 182. 184. 183.
 141. 169. 160. 150. 146. 131. 140. 103. 143. 190. 124. 153. 127. 156.
 133. 152. 137. 121. 198. 178. 171. 117. 118. 180. 159. 119. 154. 174.
 102. 173. 185. 186. 165. 125. 168. 114. 155. 157. 130.  98. 188. 162.
 122. 145. 187. 104. 138. 116. 193. 166. 129. 161. 199. 111. 101. 191.
 158. 134. 170. 144. 167. 177. 139. 113. 195. 147. 172. 189. 136. 164.
 194. 179. 149. 151. 148. 175. 176. 196. 181. 197. 398. 278. 250. 221.
 247. 297. 312. 236. 262. 228. 237. 234. 253. 222. 249. 326. 264. 246.
 256. 375. 318. 211. 314. 230. 257. 207. 215. 500. 340. 224. 348. 223.
 233. 210. 289. 408. 216. 252. 245. 445. 332. 287. 238. 291. 276. 209.
 309. 225. 274. 244. 260. 284. 319. 304. 345. 248. 201. 231. 330. 202.
 219. 422. 389. 321. 275. 325. 371. 301. 205. 271. 220. 463. 204. 444.
 324. 213. 404. 263. 203. 240. 226. 361. 346. 339. 265. 261. 362. 218.
 227. 364. 461. 334. 446. 365. 383. 243. 305. 359. 235. 470. 396. 320.
 413. 376. 373. 206. 266. 331. 267. 368. 208. 328. 496. 259. 212. 232.
 429. 351. 402. 377. 270. 358. 355. 417. 302. 401. 316. 350. 214. 374.
 452. 239. 367. 425. 299. 273. 379. 300. 298. 217. 498. 354. 433. 366.
 418. 277. 335. 293. 307. 292. 495. 338. 279. 454. 281. 280. 294. 288.
 268. 486. 411. 336. 471. 343. 258. 290. 254. 435. 251. 242. 386. 241.
 485. 356. 342. 391. 357. 431. 439. 423. 432. 491. 333. 400. 465. 370.
 441. 394. 285. 308. 460. 352. 434. 282. 477. 430. 283. 313. 458. 487.
 442. 384. 494. 397. 488. 369. 466. 360. 311. 337. 229. 380. 347. 315.
 306. 438. 436. 479. 286. 303. 255. 399. 323. 388. 392.]
Lowest value:  10.0
Highest value:  500.0
Cells without value:  17973
Rows:  40227

#### restaurants.category

```mermaid
graph LR
A --> B
```

In [11]:
print("Unique values: ",df_restaurants['category'].unique())
print("Cells without value: ",df_restaurants['category'].isna().sum())
print("Rows: ",df_restaurants['category'].shape[0])

print(df_restaurants[df_restaurants['category'].isnull()])

df_restaurants.dropna(subset=['category'], inplace=True)

print("Cells without value: ",df_restaurants['category'].isna().sum())

# unpivot 'category' column
df_restaurants_categories = df_restaurants.assign(category=df_restaurants['category'].str.split(',')).explode('category')[['id','category']]
df_restaurants_categories.head(10)

Unique values:  ['Burgers, American, Sandwiches'
 'Coffee and Tea, Breakfast and Brunch, Bubble Tea'
 'American, Cheesesteak, Sandwiches, Alcohol' ...
 'American, Burgers, Breakfast and Brunch, Allergy Friendly, Family Meals, Vegan, Vegan Friendly, Sandwiches, Desserts, Comfort Food, Soup, Cheesesteak, Everyday Essentials, Group Friendly'
 'Sushi, Asian, Japanese, Exclusive to Eats, Group Friendly'
 'Mediterranean, Gluten Free Friendly, Allergy Friendly, Family Meals, Turkish, Greek, Middle Eastern, Salads, Vegan Friendly, Vegetarian Friendly, Local Specialities']
Cells without value:  23
Rows:  40227
          id  position                           name  score  ratings  \
978      979         1  Dunkin' (8171 Us Highway 431)    NaN      NaN
7106    7107        19            Sam's Hot Dog Stand    NaN      NaN
11812  11813       154           McMenamins Zeus Cafe    NaN      NaN
14400  14401         4               Millwood Grocery    NaN      NaN
14527  14528         3      Bulldog Liquor &amp; Wine    NaN      NaN
15051  15052        37                A1 Hop Shop 144    NaN      NaN
15732  15733        41            Liquor &amp; Liquor    NaN      NaN
21786  21787       156                     Yaki Sushi    4.8     66.0
24474  24475        15                  Sam's Kitchen    NaN      NaN
24483  24484         2                Fabios NY Pizza    4.7    180.0
25012  25013       237       Uptown Market &amp; Deli    NaN      NaN
25810  25811         1       Dunkin' (1603 Boulevard)    NaN      NaN
25861  25862         5                   Sultan Kebab    4.9     66.0
25885  25886         7                  Got Dumplings    4.7    168.0
26244  26245        20   Dunkin' (12259 Hornsby Lane)    NaN      NaN
28104  28105         1           Milan Indian Cuisine    4.8    169.0
28267  28268        74              Christian's Pizza    NaN      NaN
33787  33788        65                Spec's - Sachse    NaN      NaN
34470  34471        21       Doc's Liquor - Wolfforth    NaN      NaN
35454  35455        23                    Econ Liquor    NaN      NaN
36761  36762        16                Spec's - Willis    NaN      NaN
39020  39021        67           Spec's #209 - Keller    NaN      NaN
39040  39041        38              Spec's - Westlake    NaN      NaN

      category price_range                                   full_address  \
978        NaN         NaN       8171 Highway 431, Albertville, AL, 35950
7106       NaN          $$        4450 Piedmont Rd, Huntington, WV, 25704
11812      NaN           $           303 SW 12th Ave, Portland, OR, 97205
14400      NaN         NaN        3409 N Argonne Rd, Spokane Valley, WA,
14527      NaN         NaN      1101 North Division Street, Spokane, WA,
15051      NaN         NaN    14401 Greenwood Avenue North, Seattle, WA,
15732      NaN         NaN          2627 North Pearl Street, Tacoma, WA,
21786      NaN          $$        4088 Airline Pkwy, Chantilly, VA, 20151
24474      NaN          $$  1863 Seminole Trl, Charlottesville, VA, 22901
24483      NaN           $     1551 E High St, Charlottesville, VA, 22902
25012      NaN          $$             2901 Park Ave, Richmond, VA, 23221
25810      NaN         NaN    1603 Boulevard, Colonial Heights, VA, 23834
25861      NaN          $$      333 2nd St SE, Charlottesville, VA, 22902
25885      NaN           $     1395 W Main St, Charlottesville, VA, 22903
26244      NaN         NaN    12259 Hornsby Lane, Newport News, VA, 23602
28104      NaN          $$    1817 Emmet St N, Charlottesville, VA, 22901
28267      NaN          $$     100 14th St NW, Charlottesville, VA, 22903
33787      NaN         NaN                      8110 Hwy 78, Sachse, TX,
34470      NaN         NaN                  641 E Hwy 62, Wolfforth, TX,
35454      NaN         NaN     9124 Perrin Beitel Road, San Antonio, TX,
36761      NaN         NaN                     9618 FM 1097, Willis, TX,
39020      NaN         NaN                         101, Keller, TX, 76248
39040      NaN         NaN                    2341 US-377, Westlake, TX,

      zip_code        lat         lng                   onlyname
978      35950  34.281240  -86.219970                    Dunkin'
7106     25704  38.397690  -82.519220        Sam's Hot Dog Stand
11812    97205  45.522785 -122.683330       McMenamins Zeus Cafe
14400      NaN  47.688101 -117.283253           Millwood Grocery
14527      NaN  47.667496 -117.411823  Bulldog Liquor &amp; Wine
15051      NaN  47.733420 -122.356061            A1 Hop Shop 144
15732      NaN  47.272193 -122.515711        Liquor &amp; Liquor
21786    20151  38.901280  -77.451280                 Yaki Sushi
24474    22901  38.086750  -78.470072              Sam's Kitchen
24483    22902  38.034205  -78.460701            Fabios NY Pizza
25012    23221  37.560120  -77.473260   Uptown Market &amp; Deli
25810    23834  37.254580  -77.410580                    Dunkin'
25861    22902  38.028488  -78.481409               Sultan Kebab
25885    22903  38.034034  -78.499294              Got Dumplings
26244    23602  37.112200  -76.501680                    Dunkin'
28104    22901  38.060590  -78.493353       Milan Indian Cuisine
28267    22903  38.034160  -78.499339          Christian's Pizza
33787      NaN  32.992276  -96.568429            Spec's - Sachse
34470      NaN  33.519078 -101.992993   Doc's Liquor - Wolfforth
35454      NaN  29.523152  -98.410520                Econ Liquor
36761      NaN  30.419875  -95.497660            Spec's - Willis
39020    76248  32.934640  -97.253650       Spec's #209 - Keller
39040      NaN  32.987644  -97.236401          Spec's - Westlake
Cells without value:  0

   id               category
0   1                Burgers
0   1               American
0   1             Sandwiches
1   2         Coffee and Tea
1   2   Breakfast and Brunch
1   2             Bubble Tea
2   3               American
2   3            Cheesesteak
2   3             Sandwiches
2   3                Alcohol

#### restaurants.price_range

In [12]:
print("Unique values: ",df_restaurants['price_range'].unique())
print("Cells without value: ",df_restaurants['price_range'].isna().sum())
print("Rows: ",df_restaurants['price_range'].shape[0])

Unique values:  ['$' nan '$$' '$$$' '$$$$']
Cells without value:  6633
Rows:  40204

#### restaurants.full_address

In [13]:
print("Unique values: ",df_restaurants['full_address'].unique())
print("Cells without value: ",df_restaurants['full_address'].isna().sum())
print("Rows: ",df_restaurants['full_address'].shape[0])

print(df_restaurants[df_restaurants['full_address'].isnull()])

# delete rows without address
df_restaurants.dropna(subset=['full_address'], inplace=True)

print("Cells without value: ",df_restaurants['full_address'].isna().sum())

# extract city to separate column
df_restaurants["city"] = df_restaurants["full_address"].str.split(", ").str[1]

# extract state to separate column
df_restaurants["state"] = df_restaurants["full_address"].str.split(", ").str[2]

# show sample after cleaning
print(df_restaurants[['full_address', 'city','state']].head(10))

Unique values:  ['224 Daniel Payne Drive, Birmingham, AL, 35207'
 '1521 Pinson Valley Parkway, Birmingham, AL, 35217'
 '541-B Graymont Ave, Birmingham, AL, 35204' ...
 '5222 Burnet Road, Austin, TX, 78756' '817 W 5th St, Austin, TX, 78703'
 '8106 Brodie Ln, Austin, TX, 78749']
Cells without value:  278
Rows:  40204
          id  position                                       name  score  \
110      111       124                Post Office Pies (Avondale)    4.6
129      130       100               Urban Cookhouse (Birmingham)    4.8
143      144        80    Godfather's Pizza (231 State Farm Pkwy)    4.9
584      585        35  It's Just Wings (3083 Montgomery Highway)    3.7
899      900         1             Five Guys AL- 4062 5413 US 280    NaN
...      ...       ...                                        ...    ...
39274  39275       183                               Memo’s tacos    NaN
39303  39304        36     Qdoba (1521 Keller Parkway, Suite 700)    NaN
39465  39466        98                              Asian Kitchen    NaN
39629  39630       280                   Fish &amp; Rice Poke Bar    NaN
39657  39658       247                             Cocky Teriyaki    NaN

       ratings                              category price_range full_address  \
110       32.0              Pizza, American, Italian           $          NaN
129       19.0            American, Sandwich, Salads         NaN          NaN
143       16.0              Pizza, American, Italian          $$          NaN
584       31.0                       American, Wings          $$          NaN
899        NaN                     American, Burgers           $          NaN
...        ...                                   ...         ...          ...
39274      NaN  Mexican, Latin American, New Mexican          $$          NaN
39303      NaN      Dinner, Mexican, Burritos, Tacos           $          NaN
39465      NaN          Chinese, Asian, Asian Fusion         NaN          NaN
39629      NaN           Asian, Asian Fusion, Korean           $          NaN
39657      NaN               Healthy, Bowls, Chicken         NaN          NaN

      zip_code       lat       lng                        onlyname
110        NaN  33.52467 -86.77390                Post Office Pies
129        NaN  33.51668 -86.81039                 Urban Cookhouse
143        NaN  33.44629 -86.82708               Godfather's Pizza
584        NaN  31.25078 -85.42848                 It's Just Wings
899        NaN  33.24693 -86.33891  Five Guys AL- 4062 5413 US 280
...        ...       ...       ...                             ...
39274      NaN  33.00313 -97.22769                    Memo’s tacos
39303      NaN  32.93468 -97.21780                           Qdoba
39465      NaN  30.33749 -97.69273                   Asian Kitchen
39629      NaN  30.33537 -97.72005        Fish &amp; Rice Poke Bar
39657      NaN  30.31620 -97.70839                  Cocky Teriyaki

[278 rows x 12 columns]
Cells without value:  0
                                        full_address        city state
0      224 Daniel Payne Drive, Birmingham, AL, 35207  Birmingham    AL
1  1521 Pinson Valley Parkway, Birmingham, AL, 35217  Birmingham    AL
2          541-B Graymont Ave, Birmingham, AL, 35204  Birmingham    AL
3         1580 Montgomery Highway, Hoover, AL, 35226      Hoover    AL
4               314 17th St N, Birmingham, AL, 35203  Birmingham    AL
5      1218 20th Street South, Birmingham, AL, 35205  Birmingham    AL
6             1830 29th Ave S, Birmingham, AL, 35209  Birmingham    AL
7           2236 Highland Ave, Birmingham, AL, 35205  Birmingham    AL
8            1284 Decatur Hwy, Gardendale, AL, 35071  Gardendale    AL
9         1515 Pearson Ave SW, Birmingham, AL, 35211  Birmingham    AL

#### restaurants.zip_code

In [14]:
print("Unique values: ",df_restaurants['zip_code'].unique())
print("Cells without value: ",df_restaurants['zip_code'].isna().sum())

print("Rows with zip_code without digits: ",df_restaurants[~df_restaurants['zip_code'].str.contains(r'\d')])
# delete rows without digits in zip_code
df_restaurants.drop(df_restaurants[~df_restaurants['zip_code'].str.contains(r'\d')].index, inplace=True)

print("Rows wth zip_code longer than 5 characters: ",df_restaurants[df_restaurants['zip_code'].str.len()>5])
df_restaurants.loc[df_restaurants['zip_code'].str.len() > 5, 'zip_code'] = df_restaurants.loc[df_restaurants['zip_code'].str.len() > 5, 'zip_code'].str.slice(stop=5)
print("Rows wth zip_code longer than 5 characters: ",df_restaurants[df_restaurants['zip_code'].str.len()>5])

#print("Rows: ",df_restaurants['zip_code'].shape[0])
#print(df_restaurants[['full_address', 'zip_code']].head(10))

Unique values:  ['35207' '35217' '35204' ... '78719' '78758-7813' '78725']
Cells without value:  0
Rows with zip_code without digits:            id  position                                     name  score  \
1879    1880       255           County Clare Irish Inn and Pub    NaN
2607    2608        39        Panera Bread (3511 South 27th St)    4.6
13342  13343        25  Crazy Little Wings (240 2nd Ave S #102)    NaN
19930  19931        82       TGI Fridays (193 - Alexandria, VA)    4.4
34587  34588       172                    Denny's (San Antonio)    4.5
39091  39092       105               Marco's Pizza (Fort Worth)    4.7

       ratings                                           category price_range  \
1879       NaN                                    American, Irish           $
2607     131.0             Sandwiches, American, Healthy, Chicken           $
13342      NaN                                      Fried Chicken         NaN
19930    500.0  Burgers, Bar Food, American, Family Meals, Gro...          $$
34587     46.0  American, Breakfast and Brunch, Coffee and Tea...          $$
39091     42.0                                              Pizza          $$

                                            full_address       zip_code  \
1879       1234 N Astor St, Milwaukee, WI, United States  United States
2607        3511 South 27th St, Milwaukee, WI, Milwaukee      Milwaukee
13342                 2120 W Emerson Pl, Seattle, WA, WA             WA
19930                   4650 KING ST, Alexandria, VA, US             US
34587           13635 San Pedro Ave, San Antonio, TX, US             US
39091  12650 N. Beach St. (North of Timberland), Fort...             US

             lat         lng                        onlyname         city  \
1879   43.046659  -87.899480  County Clare Irish Inn and Pub    Milwaukee
2607   42.980820  -87.948630                    Panera Bread    Milwaukee
13342  47.603230 -122.330280              Crazy Little Wings      Seattle
19930  38.841900  -77.108200                     TGI Fridays   Alexandria
34587  29.566132  -98.482900                         Denny's  San Antonio
39091  32.956954  -97.281565                   Marco's Pizza   Fort Worth

      state
1879     WI
2607     WI
13342    WA
19930    VA
34587    TX
39091    TX
Rows wth zip_code longer than 5 characters:            id  position                                    name  score  \
44        45        25                      The Baisakhi Dhaba    NaN
73        74        26                       Karams Restaurant    4.4
97        98       142          Potatoe Potatohz Perfic Pizza     NaN
451      452        17             Whiskey Foxtrot Burger Dive    4.6
598      599        17       Chili's (3083 Montgomery Highway)    4.3
...      ...       ...                                     ...    ...
39850  39851        77                   ZIKI (South Congress)    4.7
39910  39911       210      Wham Bam Bagels &amp; Coffee Truck    4.7
39933  39934       172                          Sabor Colombia    4.3
40101  40102       198        Hat Creek Burger Co. (Rock Rose)    4.5
40146  40147       149  Teji's Indian Restaurant (Comsouth Dr)    4.6

       ratings                                           category price_range  \
44         NaN                               Indian, Pasta, Pizza         NaN
73        30.0                    Mediterranean, Desserts, Salads         NaN
97         NaN                             Pizza, American, Wings         NaN
451       24.0                    American, Burgers, Comfort Food           $
598       48.0  American, Burgers, Salads, Family Meals, Healt...          $$
...        ...                                                ...         ...
39850    436.0                      Greek, Mexican, Mediterranean         NaN
39910    130.0         Breakfast and Brunch, American, Sandwiches           $
39933     21.0          Colombian, Latin American, Latin American         NaN
40101     34.0  Burgers, American, Sandwiches, Family Friendly...          $$
40146    164.0  Indian, Asian, Vegetarian Friendly, Healthy, V...          $$

                                            full_address    zip_code  \
44            1801 4th Ave S, Birmingham, AL, 35233-1944  35233-1944
73             715 18th St N, Birmingham, AL, 35203-2207  35203-2207
97     707 Richard Arrington Jr Blvd S, Birmingham, A...  35233-2105
451    2341 John Hawkins Pkwy, 119, Birmingham, AL, 3...  35244-3503
598      3083 Montgomery Highway, Dothan, AL, 36303-2160  36303-2160
...                                                  ...         ...
39850        2118 S Congress Ave, Austin, TX, 78704-4317  78704-4317
39910           415 St Elmo Rd E, Austin, TX, 78745-1221  78745-1221
39933     13201 Ranch Road 620 N, Austin, TX, 78717-1011  78717-1011
40101        3210 Esperanza Xing, Austin, TX, 78758-7813  78758-7813
40146           3400 Comsouth Dr, Austin, TX, 78744-1320  78744-1320

             lat        lng                            onlyname        city  \
44     33.507610 -86.804820                  The Baisakhi Dhaba  Birmingham
73     33.519610 -86.812570                   Karams Restaurant  Birmingham
97     33.506550 -86.798290       Potatoe Potatohz Perfic Pizza  Birmingham
451    33.352200 -86.864100         Whiskey Foxtrot Burger Dive         119
598    31.250780 -85.428480                             Chili's      Dothan
...          ...        ...                                 ...         ...
39850  30.242430 -97.752720                                ZIKI      Austin
39910  30.214850 -97.762370  Wham Bam Bagels &amp; Coffee Truck      Austin
39933  30.467240 -97.794603                      Sabor Colombia      Austin
40101  30.400239 -97.724179                Hat Creek Burger Co.      Austin
40146  30.212250 -97.720290            Teji's Indian Restaurant      Austin

            state
44             AL
73             AL
97             AL
451    Birmingham
598            AL
...           ...
39850          TX
39910          TX
39933          TX
40101          TX
40146          TX

[576 rows x 14 columns]
Rows wth zip_code longer than 5 characters:  Empty DataFrame
Columns: [id, position, name, score, ratings, category, price_range, full_address, zip_code, lat, lng, onlyname, city, state]
Index: []

#### restaurants.lat & restaurants.lng

Continental US Only
- Northernmost: 49.382808
- Southernmost: 24.521208
- Easternmost: -66.945392
- Westernmost: -124.736342

https://qr.ae/prUdNd

https://gist.github.com/graydon/11198540

In [15]:
print("Unique values: ",df_restaurants['lat'].unique())
print("Cells without value: ",df_restaurants['lat'].isna().sum())
Northernmost=49.382808
Southernmost=24.521208
Easternmost=-66.945392
Westernmost=-124.736342

print("Latitude above Nothernmost: ",(df_restaurants['lat']>Northernmost).sum())
print("Latitude below Southermost: ",(df_restaurants['lat']<Southernmost).sum())
print("Longitute left from Westernmost: ",(df_restaurants['lng']<Westernmost).sum())
print("Longitute right from Easternmost: ",(df_restaurants['lng']>Easternmost).sum())

print("Latitude = zero: ",(df_restaurants['lat']==0).sum())
print("Longitude = zero: ",(df_restaurants['lng']==0).sum())


df_restaurants.drop(df_restaurants[df_restaurants['lat'] > Northernmost].index, inplace=True)
df_restaurants.drop(df_restaurants[df_restaurants['lat'] < Southernmost].index, inplace=True)
df_restaurants.drop(df_restaurants[df_restaurants['lng'] < Westernmost].index, inplace=True)
df_restaurants.drop(df_restaurants[df_restaurants['lng'] > Easternmost].index, inplace=True)

df_restaurants.drop(df_restaurants[(df_restaurants['lat'] == 0) & (df_restaurants['lng'] == 0) & (df_restaurants['state'] != '')].index, inplace=True)

print("Latitude above Nothernmost: ",(df_restaurants['lat']>Northernmost).sum())
print("Latitude below Southermost: ",(df_restaurants['lat']<Southernmost).sum())
print("Longitute left from Westernmost: ",(df_restaurants['lng']<Westernmost).sum())
print("Longitute right from Easternmost: ",(df_restaurants['lng']>Easternmost).sum())

print("Latitude = zero: ",(df_restaurants['lat']==0).sum())
print("Longitude = zero: ",(df_restaurants['lng']==0).sum())

df_restaurants.dtypes

Unique values:  [33.5623653 33.58364   33.5098    ... 30.32429   30.2695803 30.2022099]
Cells without value:  0
Latitude above Nothernmost:  0
Latitude below Southermost:  228
Longitute left from Westernmost:  0
Longitute right from Easternmost:  228
Latitude = zero:  26
Longitude = zero:  26
Latitude above Nothernmost:  0
Latitude below Southermost:  0
Longitute left from Westernmost:  0
Longitute right from Easternmost:  0
Latitude = zero:  0
Longitude = zero:  0

id                int64
position          int64
name             object
score           float64
ratings         float64
category         object
price_range      object
full_address     object
zip_code         object
lat             float64
lng             float64
onlyname         object
city             object
state            object
dtype: object

#### restaurants.onlyname

In [16]:
print("Unique values: ",df_restaurants['onlyname'].unique())
print("Cells without value: ",df_restaurants['onlyname'].isna().sum())
print("Rows: ",df_restaurants['onlyname'].shape[0])

Unique values:  ['PJ Fresh' "J' ti`'z Smoothie-N-Coffee Bar" 'Philly Fresh Cheesesteaks'
 ... 'EurAsia Ramen 3' "Austin's Habibi" 'Beijing Wok']
Cells without value:  0
Rows:  39692

#### restaurants.city

In [17]:
print("Unique values: ",df_restaurants['city'].unique())
print("Cells without value: ",df_restaurants['city'].isna().sum())
print("Rows: ",df_restaurants['city'].shape[0])

Unique values:  ['Birmingham' 'Hoover' 'Gardendale' ... 'Buda' 'Suite 640' 'Ste H8']
Cells without value:  0
Rows:  39692

#### restaurants.state

In [18]:
state_list = ["AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DE", "FL", "GA", 
              "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD", 
              "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", 
              "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC", 
              "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY"]


print("Unique values: ",df_restaurants['state'].unique())
print("Cells without value: ",df_restaurants['state'].isna().sum())
print("Rows: ",df_restaurants['state'].shape[0])

not_in_state_list_count = df_restaurants[~df_restaurants["state"].isin(state_list)]["state"].count()

print("Count of states not in list: ", not_in_state_list_count)

print(~df_restaurants["state"].isin(state_list))

Unique values:  ['AL' 'Fultondale' 'Birmingham' 'Homewood' 'Hoover' 'Hoover,' 'USA'
 'Dothan' 'Huntsville' 'Decatur' 'Gulf Shores' 'WY' 'WI' 'Ashwaubenon'
 'Baraboo' 'Lake Delton' 'Brookfield' 'Oak Creek' 'Hales Corners'
 'Wauwatosa' 'Milwaukee' 'Village of Pewaukee' 'Waunakee' 'Waukesha'
 'Monona' 'Kenosha' 'Mt. Pleasant' 'MN' 'Duluth' 'Green Bay' 'Howard'
 'Sheboygan' 'Madison' 'Janesville' 'Village of' 'IL' 'Spring Grove'
 'Gurnee' 'WV' 'Vienna' 'Morgantown' 'Parkersburg' 'Charleston'
 'Martinsburg' 'Kanawha City' 'OH' 'Huntington' 'WA' 'Olympia' 'Lacey'
 'Seattle' 'Everett' 'Edmonds' 'Lynnwood' 'Mukilteo' 'Bothell' '西雅图'
 'Alderwood Manor' 'Kirkland' 'Mill Creek' 'Suite B-1' 'seattle'
 'Bellevue' 'Snohomish' 'Redmond' 'Duvall' 'Kennewick' 'Pasco' 'Richland'
 'OR' 'Vancouver' 'Renton' 'Kent' 'Federal Way' 'Tukwila' 'Burien'
 'Bryn Mawr-Skyway' 'Seatac' 'Des Moines' 'Portland' 'Battle Ground'
 'Puyallup' 'Lakewood' 'Tacoma' 'South Hill' 'Tumwater' 'Issaquah'
 'Auburn' 'Silverdale' 'Marysville' 'Dupont' 'Spokane' 'Liberty Lake'
 'Airway Heights' 'Broadway' 'Lake Stevens' 'Snoqualmie' 'Gig Harbor'
 'Port Orchard' 'Bellingham' 'ID' 'MOSCOW' 'Mercer Island' 'Covington'
 'VA' 'Newport News' 'Hampton' 'Yorktown' 'Suite 10' 'DC' 'Springfield'
 'Alexandria' 'Annandale' 'Manassas' 'Ox Rd' '#105B' 'Suite 240'
 'Suite #505' 'Williamsburg' 'Staunton' 'Harrisonburg' 'Bridgewater' 'MD'
 'Arlington' 'Washington' 'Providence' 'Falls Church' 'Fairfax'
 'Pimmit Hills' 'Bethesda' 'McLean' 'Seven Corners' 'Tysons Corner'
 'Virginia Beach' 'Roanoke' 'Cave Spring' 'Ashburn' 'Charity'
 'Centreville' 'Sterling' 'Sully' 'Chantilly' 'Rockville' 'McNair'
 'Broad Run' 'Herndon' 'Reston' 'Dulles' 'Stafford' 'Suffolk' 'Leesburg'
 'Boyds' 'Germantown' 'Hunter Mill' 'Rock Hill' 'Fredericksburg'
 'FREDERICKSBURG' 'Richmond' 'Ashland' 'Mechanicsville' 'Glen Allen'
 'Blacksburg' 'Lynchburg' 'Rio' 'Henrico' 'Virginia' 'Midlothian' 'Dale'
 'Colonial Heights' 'Petersburg' 'Prince George' 'Norfolk' 'Chesapeake'
 'Portsmouth' 'Charlottesville' 'Washington D.C.' 'MD 20814'
 'North Bethesda' 'Silver Spring' 'Old Town Manassas' 'Three Chopt'
 'Gainesville' 'Gaithersburg' 'Farmville' 'TN' 'Bristol' 'D.C.'
 'Brentwood' 'VT' 'Essex Junction' 'Winooski' 'UT' 'Salt Lake City'
 'Clearfield' '84025' 'Kaysville' 'West Valley City' 'Ogden' 'Roy'
 'Clinton' 'South Jordan' 'Midvale' 'Millcreek' 'South Salt Lake' 'Lehi'
 'Draper' 'West Valley' 'Murray' 'Utah' 'West Jordan' 'Taylorsville'
 'Sandy' 'St. George' 'Santa Clara' 'Orem' 'Provo' 'Logan' 'Saint George'
 'Holladay' 'Park City' 'Farmington' 'TX' 'Wylie' 'Plano' 'Richardson'
 'McKinney' 'Murphy' 'Texas' 'Garland' 'Allen' 'Dallas' 'Lubbock'
 'San Antonio' 'Selma' 'United States' 'San Marcos' 'Mesquite' 'Red Oak'
 'Hutchins' 'Cedar Hill' 'Sunnyvale' 'Desoto' 'Duncanville' 'Willis'
 'Montgomery' 'Magnolia' 'Fort Worth' 'Lake Worth' 'Willow Park'
 'Wichita Falls' 'Tyler' 'Longview' 'Watauga' 'North Richland Hills'
 'Hurst' 'Keller' 'Haslet' 'Everman' 'Bedford' 'Euless' 'Irving'
 'Grapevine' 'Denton' 'Austin' 'West Lake Hills' 'Cedar Park' 'Round Rock'
 'Windemere']
Cells without value:  0
Rows:  39692
Count of states not in list:  2467
0        False
1        False
2        False
3        False
4        False
         ...
40222    False
40223    False
40224    False
40225    False
40226    False
Name: state, Length: 39692, dtype: bool

In [19]:
print("restaurants datatypes before change")
print("----------------------------------------")
print(df_restaurants.dtypes)

df_restaurants['name']=df_restaurants['name'].astype(str)
df_restaurants['category']=df_restaurants['category'].astype(str)
df_restaurants['price_range']=df_restaurants['price_range'].astype(str)
df_restaurants['full_address']=df_restaurants['full_address'].astype(str)
#df_restaurants['zipcode']=df_restaurants['zipcode'].astype(str)

# position column 1-300 - to be removed?






print("restaurants datatypes after change")
print("--------------------------")
print(df_restaurants.dtypes)

df_restaurants.head()

restaurants datatypes before change
----------------------------------------
id                int64
position          int64
name             object
score           float64
ratings         float64
category         object
price_range      object
full_address     object
zip_code         object
lat             float64
lng             float64
onlyname         object
city             object
state            object
dtype: object
restaurants datatypes after change
--------------------------
id                int64
position          int64
name             object
score           float64
ratings         float64
category         object
price_range      object
full_address     object
zip_code         object
lat             float64
lng             float64
onlyname         object
city             object
state            object
dtype: object

,id,position,name,score,ratings,category,price_range,full_address,zip_code,lat,lng,onlyname,city,state
0,1,19,PJ Fresh (224 Daniel Payne Drive),NaN,NaN,"Burgers, American, Sandwiches",$,"224 Daniel Payne Drive, Birmingham, AL, 35207",35207,33.562365,-86.830703,PJ Fresh,Birmingham,AL
1,2,9,J' ti`'z Smoothie-N-Coffee Bar,NaN,NaN,"Coffee and Tea, Breakfast and Brunch, Bubble Tea",nan,"1521 Pinson Valley Parkway, Birmingham, AL, 35217",35217,33.583640,-86.773330,J' ti`'z Smoothie-N-Coffee Bar,Birmingham,AL
2,3,6,Philly Fresh Cheesesteaks (541-B Graymont Ave),NaN,NaN,"American, Cheesesteak, Sandwiches, Alcohol",$,"541-B Graymont Ave, Birmingham, AL, 35204",35204,33.509800,-86.854640,Philly Fresh Cheesesteaks,Birmingham,AL
3,4,17,Papa Murphy's (1580 Montgomery Highway),NaN,NaN,Pizza,$,"1580 Montgomery Highway, Hoover, AL, 35226",35226,33.404439,-86.806614,Papa Murphy's,Hoover,AL
4,5,162,Nelson Brothers Cafe (17th St N),4.7,22.0,"Breakfast and Brunch, Burgers, Sandwiches",nan,"314 17th St N, Birmingham, AL, 35203",35203,33.514730,-86.811700,Nelson Brothers Cafe,Birmingham,AL